*{
    font-family: 'Architects Daughter', cursive;
}

.body{
    background-color: black;
}
.body h1{
    color: white;
    border-color: white;
    border-radius: 15px;
    border: solid 1px;
    padding: 10px;
}
.body a{
    text-decoration: none;
}

.flexCentrado{
    display: flex;
    justify-content: center;
    text-align: center;
    
}