*{
    font-family: 'Architects Daughter', cursive;
}

p {margin: 0px !important;}

.bodyMAIN{
    background-color: black;
    color: white;
}
.bodyMAIN h1{
    color: white;
    border-color: white;
    border-radius: 15px;
    border: solid 1px;
    padding: 10px;
}
.bodyMAIN a{
    text-decoration: none !important;
}

.flexCentrado{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    
}
.centrado{
    justify-content: center;
    display: flex;
    align-items: center;
}

.flexAbajo{
    align-items: center;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

ul{
    padding-inline-start: 0px !important;
}


/*Sombreado*/
.sombra{
    box-shadow:-20px -15px 50px rgb(53, 50, 50);
}

/* MENU */
.articuloMenu {
    /*Para usar con componentes li */
    justify-content: space-between;
    width: 80%;
    display: inline-flex;
    padding-inline-start: 0px;}

.articuloMenu:hover{
    cursor: pointer;
    border: solid 1px;
    border-radius: 15px;
    padding: 3px;
}

.articuloCarro{
    justify-content: space-between;
    width: 80%;
    display: inline-flex;
    padding-inline-start: 0px;
}
.articuloCarro:hover{
    cursor: pointer;
    border: solid 1px;
    border-radius: 15px;
    padding: 3px;
}
.totalCarro{
    display: flex;
    justify-content: end;
}


.categoriaListas{
    list-style: none;
    color: rgb(16, 100, 16);
}

.puntero{cursor: pointer;}
.verde{color: rgb(16, 100, 16);}
.amarillo{color: #eee460;}
.fondoAmarillo{background-color: #eee460 !important;}
.fondoBlanco{background-color: none;}
.sesentaAncho{width: 60%;}
.treintaAncho{width: 30%;}
.cienAncho{width: 100%;}
.altoCabezal{height: 30vh;}
.noPadding{padding: 0px;}
.noBorde{border: 0px;}
.margen20{margin: 20px;}
.margenBajo20{margin-bottom: 20px;}
.margenAlto30{margin-top: 30px;}
.trescientosAncho{width: 300px;}
.margenIZ{margin-left: 10px;}

.bg-foto{
    background-image: url("../images/pexels-anna-guerrero-1765005.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

@media screen and (max-width: 576px){ 
    li > p {
        font-size: small  !important;
    }
    
}
@media screen and (max-width: 768px){ 
    li > p {
        font-size: medium;
    }
    .sesentaAncho{
        width: 80%;
    }
    
}
@media screen and (max-width: 992px){ 
    li > p {
        font-size: large;
    }
    
}
@media screen and (min-width: 992px){ 
    li > p {
        font-size: x-large;
    }
    
}